*{
    margin: 0px;
    padding: 0px;
}
nav ul li{

    list-style: none;
}
nav ul{
    display: flex;
    color: #575757;
    gap: 24px;
}
nav ul li a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 24px 80px;
    /* width: 100%;
    height: 98px; */
}
.all-section{
    max-width: 1200px;
    margin: auto;
}
.coller-button{
    background-color: #1D4ED8;
    color: #FFFFFF;
    width: 192px;
    height: 56px;
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
}
/* nav ber collace */
.div-father{
    background-image: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),url(../B14-A01-DevConf-2026/assets/banner.jpg);
    background-color: rgba(0, 0, 0, 0.45);
    background-size: cover;
    background-position: center;
    height: 650px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.div-father div p{
    color: antiquewhite;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}
.div-father div h1{
    color: antiquewhite;
    font-size: 64px;
    margin-bottom: 20px;
}
.div-child{
    text-align: center;
    max-width: 700px;
    margin-top: 7%;
}
.div-button{
    margin-top: 48px;
}
.child-div{
    margin-bottom: 5%;
}
/* header tag complade */
.section-img  div p{
    color:#2563EB;
    height: 10px;
}
.section-img  div img{
    width: 50%;
    height: 50%;
}

.section-imag image{
    margin: 30px 45px;
    height: 100%;
}
.section-imag .div img{
    width: 100%;
}
.imag-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-imag h1{
    text-align: center;
    margin-bottom: 10px;
}
.section-imag{
    margin: 40px 80px;
}
/* the end section */
.main-section h1{
    color: #0D1B2A;

}
.main-section p{
    color: #575757;
}
.div-one{
    background-color: #E5E7EB;
    color: #333333;
    margin-left: 30px;
    padding: 32px;
    border: 1px solid white;
    border-radius: 15px;
    width: 350px;
}
.div-one hr{
    border: none;
    border-top: 1px solid #20c50d;
    margin:20px 0 ;
}
div ul li::marker{
    color: blue;
}
.div-two{
    background-color: #0D1B2A;
    color: #333333;
    margin-left: 30px;
    padding: 32px;
    border: 1px solid white;
    border-radius: 15px;
    width: 350px;
}
.div-one h4{
    color:#888888 ;
    font-size: 15px;
    margin-bottom: 13px;
}
.div-one h2{
    font-size: 50px;
    color:#0D1B2A;
    margin-bottom: 15px;
}
.div-one ul{
    padding-left: 23px;
    margin-bottom: 10px;
}
.div-one ul li{
    margin-bottom: 10px;
    color: #333333;
}
.div-one button{
    width: 100%;
    color: white;
    background-color: #20c50d;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}
.div-two ul li{
    margin-bottom: 10px;
    color:white;
}
.div-two ul{
    padding-left: 23px;
    margin-bottom: 10px;
}
.div-two hr{
    border: none;
    border-top: 1px solid #20c50d;
    margin:20px 0 ;
}
.div-two h2{
       font-size: 50px;
    color:white;
    margin-bottom: 15px;
}

.div-two h4{
     color:#888888 ;
    font-size: 15px;
    margin-bottom: 13px;
}
.div-two button{
    width: 100%;
    color: white;
    background-color: #20c50d;
    border: none;
    border-radius: 10px;
    padding: 15px; 
    margin-top: 27px;
}
.div-three{
     background-color: #E5E7EB;
    color: #333333;
    margin-left: 30px;
    padding: 32px;
    border: 1px solid white;
    border-radius: 15px;
    width: 350px;
}
.div-three ul{
    padding: 23px;
    margin-bottom: 10px;
}
.div-three ul li{
    margin-bottom: 10px;
    color: #333333;
}
.div-two hr{
    border: none;
    border-top: 1px solid #20c50d;
    margin:20px 0 ;
}
.div-three h2{
      font-size: 50px;
    color: #0D1B2A;
    margin-bottom: 15px;
}
.div-three h4{
     color:#888888 ;
    font-size: 15px;
    margin-bottom: 13px;
}
.div-three button{
     width: 100%;
    color: white;
    background-color: #20c50d;
    border: none;
    border-radius: 10px;
    padding: 15px; 
}
.div-past{
    display: flex;
}
.main-section h1{
    text-align:center;
    margin-bottom:10px;
}
.main-section p{
    text-align: center;
    margin-bottom: 5%;
}
/* missing section */
.missing-contend{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../B14-A01-DevConf-2026/assets/pexels-mikhail-nilov-7988079.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 20px;
}
.main-contend{
    width: 70%;
    text-align: center;
    color: whitesmoke;
}
.main-contend h2{
    font-size: 50px;
    margin-bottom: 25px;
}
.main-contend p{
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.main-contend h4{
    font-size: 25px;
}
.main-contend button{
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: #2563EB;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.main-contend button:hover{
    background-color: #1D4ED8;
}
.child-div ul li{
    list-style: none;
}
.child-div ul{
    display: flex;
    gap: 20px;
    color: white;
}
.child-div h5{
    color: white;
    font-size: 15px;
}
.child-div{
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
}
footer{
    background-color: #0D1B2A;
    padding: 20px 50px;
}
/* .div-prend{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
} */
 .prim ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .prim ul li{
    list-style: none;
 }
 .prim hr{
      border: none;
    border-top: 1px solid #20c50d;
    margin:20px 0 ;
 }
